eval "$(starship init zsh)"
export EDITOR=nvim
alias icat="kitten icat"

{{ if eq .chezmoi.hostname "ml0221998" -}}
export PATH="/opt/homebrew/opt/postgresql@16/bin:$PATH"
export PATH="/Users/nqxl/Library/Python3.9/bin:$PATH"
{{ end -}}
{{ if eq .chezmoi.hostname "Nikolais-MacBook-Pro" -}}
export NEOVIM_ENV="home"
{{ else -}}
export NEOVIM_ENV="work"
{{ end -}}
bindkey -v

# Yank to the system clipboard
function vi-yank-xclip {
    zle vi-yank
   echo "$CUTBUFFER" | pbcopy -i
}

zle -N vi-yank-xclip
bindkey -M vicmd 'y' vi-yank-xclip

# for pipx
export PATH="$PATH:/Users/nlyssogor/.local/bin"

# docker completions
fpath=($HOME/.docker/completions $fpath)
fpath=($HOME/.config/lockey/completions $fpath)
autoload -U compinit
compinit
