[global]
timeout = 100
{{ if eq .chezmoi.hostname "ml0221998" -}}
index-url = https://cgrepo.capgroup.com/repository/cgpypi/simple
trusted-host = cgrepo.capgroup.com
{{ end -}}
[install]
require-virtualenv = true
