format = """
$directory\
$git_branch\
$cmd_duration\
$line_break\
$character"""

[directory]
style = "bold blue"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
format = "[$branch]($style)"
style = "bold green"

[cmd_duration]
format = " [$duration]($style) "
style = "yellow"

[character]
format = "[➜ ](purple)"
